@import '../../styles/utils';

.warpper {
  .curtain {
    display: flex;
    background-color: black;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
    opacity: 1;

    justify-content: center;
    align-items: center;

    transition: opacity 100ms ease-in 100ms, z-index 100ms ease-in 100ms;

    &.hide {
      z-index: -1;
      opacity: 0;
    }

    &.dark {
      background-color: black;
    }

    &.light {
      background-color: white;
    }
  }
}
